body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to bottom, 
    rgba(244, 240, 243, 1) 0%,
    rgba(234, 243, 247, 1) 100%
    );
}

.AppContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Mulish'), url(./fonts/Mulish-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Mulish', sans-serif;
    font-style: bold;
    font-weight: 700;
    src: local('Mulish'), url(./fonts/Mulish-Bold.ttf) format('opentype');
}